---

---
<p class="text-gray-900 dark:text-gray-300 mb-5">Лишь находчивый, смеет узреть форму</p>
<emoji-secret></emoji-secret>
<emoji-music-recaptcha></emoji-music-recaptcha>

<script is:inline src="src/components/emoji-music-captcha/emoji-music-recaptcha.js"></script>

<style lang="postcss">
    emoji-secret {
        @apply flex text-5xl mb-20px;
    }
</style>