---
import '@splidejs/splide/css';
import { WorkItem } from 'src/porfrolio.works';
import CvSkills     from 'src/components/cvSkills.astro';
const { className = 'splide', data = [] } = Astro.props as {
    data: WorkItem
};

function modifyImage(str, mode) {
    return str.replace('/upload/', `/upload/${ mode }/`);
}
---

<script>
    import Splide      from '@splidejs/splide';
    import { URLHash } from '@splidejs/splide-extension-url-hash';

    const splide = new Splide('.splide', {
        width: '100%',
        height: '100%',
        type: 'fade',
        perPage: 1,
        paginationKeyboard: true,
        interval: 2000,
        speed: 1000,
        keyboard: true,
        arrows: false,
        lazyLoad: 'nearby',
        wheel: true,
    });

    splide.on('pagination:mounted', function (data) {
        data.list.classList.add('splide__pagination--custom');

        data.items.forEach(function (item) {
            item.button.textContent = String(item.page + 1);
        });
    });

    splide.mount({
        URLHash,
    });
</script>
<div class={ className } aria-label="Cases">
    <div class="splide__track">
        <ul class="splide__list">
            { data.map((slide, index) =>
                    <li class="splide__slide" data-splide-hash={ `slide${ index }` }>
                        <img src={ modifyImage(slide.poster, 'f_auto,w_1000,h_500,c_scale/') }
                             title={ slide.title }
                             class="w-a mb-5 border-rd"
                             alt={ slide.title }
                        />
                        <div class="splide__content">
                            <div class="text-lg md:text-3xl mb-3">{ slide.title }</div>
                            <CvSkills data={ slide.tags }/>

                            <div class="bio pt-2">
                                { slide.bio }
                            </div>
                            <br>
                            <br>
                            <a class="text-lg md:text-2xl badge" rel="noreferrer noopener" target="_blank"
                               href={ slide.url }>Website</a>
                        </div>
                    </li>,
            ) }
        </ul>
    </div>
</div>

<style is:global lang="postcss">
    .splide {
        &__content {
            @apply text-sm md:text-lg bg-dark/80 color-white/90 border-rd p-3;

            @media (min-width: 768px) {
                @apply max-w-full max-w-4xl absolute top-a bottom-[2em] right-0;
            }
        }

        &__slide {
            position: relative;
        }

        &__pagination--custom {
            top: 2em;
            left: 50% !important;
            bottom: auto !important;

            button {
                width: auto;
                height: auto;
                padding: 4px 8px;
                background: rgb(86, 86, 89);
                color: whitesmoke;
                opacity: 1;
                border-radius: 3px;
                font-size: 1em;

                @media (min-width: 768px) {
                    font-size: 2em;
                }
            }
        }
    }

    .splide .splide__pagination__page.is-active {
        background: rgba(249, 115, 22);
    }
</style>